<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Italy Coast DTE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
        </ul>

        <div style="border-left:1px solid rgb(63, 63, 63); height:50px"></div>

        <button class="btn btn-outline-success ms-3" type="submit">Login</button>

      </div>
    </div>
  </nav>

<div class="map-wrapper">
    <app-dtemap></app-dtemap>
</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Politecnico di Milano © - All rights reserved</span>
    </div>
</footer>