<div class="analysis-unit-container mb-5">
    <div class="container py-3">
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <input type="text" [(ngModel)]="analysisName" class="form-control" aria-describedby="Analysis Name" placeholder="Add a name">
                </div>
            </div>
            
            <div class="col-1">
                <fa-icon (click)="toggleExpanded()" *ngIf="expanded"
                    class="selectable" [icon]="_faChevronUp"></fa-icon>
                <fa-icon (click)="toggleExpanded()"
                    *ngIf="!expanded" class="selectable" [icon]="_faChevronDown">
                </fa-icon>
            </div>

            <div class="col-1">
                <fa-icon (click)="openAnalysisUnit()"
                    class="selectable" [icon]="_faExpandArrowsAlt"></fa-icon>
            </div>

            <div class="col-2" style="text-align: right;">
                <fa-icon class="selectable" [icon]="_faTrash"
                    (click)="remove()"></fa-icon>
            </div>
        </div>

        <div [hidden]="!expanded">
            
            <hr>

            <select [(ngModel)]="layerSelector" class="form-select my-2" aria-label="Select Layer" (click)="buildAvailableLayers()">
                <option [value]="0" selected>Select a layer</option>
                <option *ngFor="let layer of availableLayers" [value]="layer.data.id">{{layer.data.readable_name}}</option>
            </select>
            <button [disabled]="availableLayers.length == 0 || layers.length >= 5" class="btn btn-secondary w-100 my-2" (click)="addLayer()">
                Add Layer
            </button>

            <div *ngFor="let addedLayer of layers; index as i" class="container-fluid layer-pill mt-2">
                <div class="row">
                    <div class="col-11">
                        {{addedLayer.model.data.readable_name}}
                    </div>
                    <div class="col-1">
                        <span (click)="removeLayer(i)" style="cursor: pointer;">&times;</span>
                    </div>
                </div>
            </div>

            <hr>

            <small>Analysis Type</small>
            <select [disabled]="layers.length == 0" [(ngModel)]="typeSelector" class="form-select mb-2" aria-label="Select Analysis Type">
                <option [value]="0" selected>Type</option>
                <option [value]="POINT_TYPE">Point Analysis</option>
                <option [value]="AREA_TYPE">Area Analysis</option>
            </select>

            <hr>

            <div *ngIf="typeSelector == AREA_TYPE">
                <small>Resolution</small>
                <select [disabled]="layers.length == 0" [(ngModel)]="samplingSelector" class="form-select mb-2" aria-label="Select Analysis Type">
                    <option [value]="0" selected>Sampling Resolution</option>
                    <option [value]="LOW_RESOLUTION">Low (10x10 Samples)</option>
                    <option [value]="HIGH_RESOLUTION">High (20x20 Samples)</option>
                </select>

                <small>Number of classes for histogram:</small>
                <input type="number" min="1" [(ngModel)]="histogramClasses" class="form-control" aria-describedby="Number of classes of the histogram">
            </div>
            
            <div *ngIf="typeSelector == POINT_TYPE">
                <div class="row">
                    <div class="form-group col">
                        <label style="font-size: 10px;" for="latitude">Latitude</label>
                        <input [(ngModel)]="pointCoordinates[0]" id="latitude" type="number" class="form-control" placeholder="Latitude">
                    </div>
                    <div class="form-group col">
                        <label style="font-size: 10px;" for="longitude">Longitude</label>
                        <input [(ngModel)]="pointCoordinates[1]" id="longitude" type="number" class="form-control" placeholder="Longitude">
                    </div>
                </div>
                <button class="btn btn-secondary w-100 my-2" (click)="capturePoint()">
                    Capture Point
                </button>
            </div>

            <button *ngIf="!doneAnalysis" class="btn btn-success w-100 my-2" (click)="performAnalysis(true)">
                Perform Analysis
            </button>
            <button *ngIf="doneAnalysis" class="btn btn-success w-100 my-2" (click)="openAnalysisUnit()">
                Show Analysis
            </button>            
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Analysis</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="container py-3">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="analysisName" class="form-control" aria-describedby="Analysis Name" placeholder="Add a name">
                    </div>
                </div>
            </div>
    
            <div>
                
                <hr>
    
                <select [(ngModel)]="layerSelector" class="form-select my-2" aria-label="Select Layer">
                    <option [value]="0" selected>Select a layer</option>
                    <option *ngFor="let layer of availableLayers" [value]="layer.data.id">{{layer.data.readable_name}}</option>
                </select>
                <button [disabled]="availableLayers.length == 0 || layers.length >= 5" class="btn btn-secondary w-100 my-2" (click)="addLayer()">
                    Add Layer
                </button>
    
                <div *ngFor="let addedLayer of layers; index as i" class="container-fluid layer-pill mt-2">
                    <div class="row">
                        <div class="col-11">
                            {{addedLayer.model.data.readable_name}}
                        </div>
                        <div class="col-1">
                            <span (click)="removeLayer(i)" style="cursor: pointer;">&times;</span>
                        </div>
                    </div>
                </div>
    
                <hr>   
                
                <small>Analysis Type</small>
                <select [disabled]="layers.length == 0" [(ngModel)]="typeSelector" class="form-select mb-2" aria-label="Select Analysis Type">
                    <option [value]="0" selected>Type</option>
                    <option [value]="POINT_TYPE">Point Analysis</option>
                    <option [value]="AREA_TYPE">Area Analysis</option>
                </select>

                <hr>

                <small>Resolution:</small>
                <select *ngIf="typeSelector == AREA_TYPE" [disabled]="layers.length == 0" [(ngModel)]="samplingSelector" class="form-select mb-2" aria-label="Select Analysis Type">
                    <option [value]="0" selected>Sampling Resolution</option>
                    <option [value]="LOW_RESOLUTION">Low (10x10 Samples)</option>
                    <option [value]="HIGH_RESOLUTION">High (20x20 Samples)</option>
                </select>
                
                <small>Number of classes for histogram:</small>
                <input type="number" min="1" [(ngModel)]="histogramClasses" class="form-control" aria-describedby="Number of classes of the histogram">

                <hr>
    
                <div *ngIf="typeSelector == POINT_TYPE">
                    <div class="row">
                        <div class="form-group col">
                            <label style="font-size: 10px;" for="latitude">Latitude</label>
                            <input [(ngModel)]="pointCoordinates[0]" id="latitude" type="number" class="form-control" placeholder="Latitude">
                        </div>
                        <div class="form-group col">
                            <label style="font-size: 10px;" for="longitude">Longitude</label>
                            <input [(ngModel)]="pointCoordinates[1]" id="longitude" type="number" class="form-control" placeholder="Longitude">
                        </div>
                    </div>
                    <button class="btn btn-secondary w-100 my-2" (click)="capturePoint()">
                        Capture Point
                    </button>
                </div>
    
                <button class="btn btn-success w-100 my-2" (click)="performAnalysis(false)">
                    Redo Analysis
                </button>
    
                <div class="analysis-area mt-5" *ngIf="doneAnalysis">
                    <div class="" *ngIf="showMonotemporal">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Layer Name</th>
                                    <th scope="col">Value</th>
                                    <!--
                                    <th scope="col">Low</th>
                                    <th scope="col">Normal</th>
                                    <th scope="col">High</th>
                                    -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dataPoint of singlePointMonotemporalAnalysis">
                                    <th>{{dataPoint.readable_name + " (" + dataPoint.data.units + ")"}}</th>
                                    <td>{{dataPoint.data.value | number: '.2-7'}}</td>
                                    <!--
                                    <td>To be determined</td>
                                    <td>To be determined</td>
                                    <td>To be determined</td>
                                    -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div *ngIf="showDepthProfile" class="mt-5">
                        <h2 class="text-center">Depth Profile:</h2>
                        <div class="loading-analysis" *ngIf="graphDepthProfile.length < numberOfDepthProfilePlots">
                            <div class="spinner-border" role="status" >
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div *ngIf="numberOfDepthProfilePlots == graphDepthProfile.length">
                            <div class="depth-profile-graph" *ngFor="let plot of graphDepthProfile">
                                <div>
                                    <fa-icon (click)="donwloadDepthProfileData(plot)" title="Export as CSV"
                                        class="selectable" [icon]="_faDownload"></fa-icon>
                                </div>

                                <plotly-plot *ngIf="plot.data.length > 0"
                                    [data]="plot.data" 
                                    [layout]="plot.layout" 
                                    [config]="plot.config"
                                ></plotly-plot>
                                <hr>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div *ngIf="showTimeseries" class="mt-5">
                        <h2 class="text-center">Time Series:</h2>
                        <div class="loading-analysis">
                            <div class="spinner-border" role="status" *ngIf="graphTimeSeries.length < numberOfTimeSeriesPlots">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div *ngIf="numberOfTimeSeriesPlots == graphTimeSeries.length">
                            <div class="timeseries-profile-graph" *ngFor="let plot of graphTimeSeries">
                                <div>
                                    <fa-icon (click)="donwloadTimeSeriesData(plot)" title="Export as CSV"
                                        class="selectable" [icon]="_faDownload"></fa-icon>
                                </div>
                                <plotly-plot *ngIf="plot.data.length > 0"
                                    [data]="plot.data" 
                                    [layout]="plot.layout" 
                                    [config]="plot.config"
                                ></plotly-plot>
                                <hr>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="showArea">
                        <div class="mt-5">
                            <h2>Total area:</h2> <span>{{totalArea | number: '.2-2'}}</span><span> km²</span>
                        </div>

                        <div class="mt-5">
                            <h2>Summary statistics</h2>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Layer Name</th>
                                    <th scope="col">Min</th>
                                    <th scope="col">Max</th>
                                    <th scope="col">Average</th>
                                    <th scope="col">Median</th>
                                    <th scope="col">Standard Deviation</th>
                                    <th scope="col"># of samples</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let result of areaResults">
                                    <th>{{result.readable_name + " (" + result.units + ")"}}</th>
                                    <td>{{result.data.min | number: '.2-4'}}</td>
                                    <td>{{result.data.max | number: '.2-4'}}</td>
                                    <td>{{result.data.average | number: '.2-4'}}</td>
                                    <td>{{result.data.median | number: '.2-4'}}</td>
                                    <td>{{result.data.standard_deviation | number: '.2-4'}}</td>
                                    <td>{{result.data.total_samples_with_value}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="mt-5 text-center">
                            <h2>Histograms</h2>
                        </div>
                        <div *ngFor="let result of areaResults">
                            <plotly-plot
                                [data]="result.histogram.data" 
                                [layout]="result.histogram.layout"
                            ></plotly-plot>
                        </div>


                    </div>
                </div>
                
            </div>
        </div>
    </div>
</ng-template>