<div class="analysis-unit-container mb-5">
    <div class="container py-3">
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <input type="text" [(ngModel)]="analysisName" class="form-control" aria-describedby="Analysis Name" placeholder="Add a name">
                </div>
            </div>
            
            <div class="col-1">
                <fa-icon (click)="toggleExpanded()" *ngIf="expanded"
                    class="selectable" [icon]="_faChevronUp"></fa-icon>
                <fa-icon (click)="toggleExpanded()"
                    *ngIf="!expanded" class="selectable" [icon]="_faChevronDown">
                </fa-icon>
            </div>

            <div class="col-1">
                <fa-icon (click)="expandAnalysisUnit(content)"
                    class="selectable" [icon]="_faExpandArrowsAlt"></fa-icon>
            </div>

            <div class="col-2" style="text-align: right;">
                <fa-icon class="selectable" [icon]="_faTrash"
                    (click)="deleteAnalysis()"></fa-icon>
            </div>
        </div>

        <div [hidden]="!expanded">
            
            <hr>

            <select [(ngModel)]="layerSelector" class="form-select my-2" aria-label="Select Layer">
                <option [value]="0" selected>Select a layer</option>
                <option *ngFor="let layer of availableLayers" [value]="layer.data.id">{{layer.data.readable_name}}</option>
            </select>
            <button [disabled]="availableLayers.length == 0 || layers.length >= 5" class="btn btn-secondary w-100 my-2" (click)="addLayer()">
                Add Layer
            </button>

            <div *ngFor="let addedLayer of layers; index as i" class="container-fluid layer-pill mt-2">
                <div class="row">
                    <div class="col-11">
                        {{addedLayer.model.data.readable_name}}
                    </div>
                    <div class="col-1">
                        <span (click)="removeLayer(i)" style="cursor: pointer;">&times;</span>
                    </div>
                </div>
            </div>

            <hr>

            <select [disabled]="layers.length == 0" [(ngModel)]="typeSelector" class="form-select mb-2" aria-label="Select Analysis Type">
                <option [value]="0" selected>Type</option>
                <option [value]="POINT_TYPE">Point Analysis</option>
                <option [value]="AREA_TYPE">Area Analysis</option>
            </select>

            <div *ngIf="typeSelector == POINT_TYPE">
                <div class="row">
                    <div class="form-group col">
                        <label style="font-size: 10px;" for="latitude">Latitude</label>
                        <input [(ngModel)]="pointCoordinates[0]" id="latitude" type="number" class="form-control" placeholder="Latitude">
                    </div>
                    <div class="form-group col">
                        <label style="font-size: 10px;" for="longitude">Longitude</label>
                        <input [(ngModel)]="pointCoordinates[1]" id="longitude" type="number" class="form-control" placeholder="Longitude">
                    </div>
                </div>
                <button class="btn btn-secondary w-100 my-2" (click)="capturePoint()">
                    Capture Point
                </button>
            </div>

            <button class="btn btn-success w-100 my-2" (click)="performAnalysis()">
                Perform Analysis
            </button>

            <div class="analysis-area" *ngIf="doneAnalysis">
                <div class="" *ngIf="showMonotemporal">
                    <div *ngFor="let dataPoint of singlePointMonotemporalAnalysis">
                        <h5>{{ dataPoint.readable_name + ": " + dataPoint.data.value + " " + dataPoint.data.units}} </h5>
                    </div>
                </div>

                <div class="depth-profile-graph" *ngIf="showDepthProfile">
                    <plotly-plot [data]="graphDepthProfile.data" [layout]="graphDepthProfile.layout" [config]="graphDepthProfile.config"></plotly-plot>
                </div>

                <div class="timeseries-profile-graph" *ngIf="showTimeseries">
                    <plotly-plot [data]="graphTimeSeries.data" [layout]="graphTimeSeries.layout" [config]="graphTimeSeries.config"></plotly-plot>
                </div>
            </div>
            
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Analysis</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="container py-3">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="analysisName" class="form-control" aria-describedby="Analysis Name" placeholder="Add a name">
                    </div>
                </div>
            </div>
    
            <div [hidden]="!expanded">
                
                <hr>
    
                <select [(ngModel)]="layerSelector" class="form-select my-2" aria-label="Select Layer">
                    <option [value]="0" selected>Select a layer</option>
                    <option *ngFor="let layer of availableLayers" [value]="layer.data.id">{{layer.data.readable_name}}</option>
                </select>
                <button [disabled]="availableLayers.length == 0 || layers.length >= 5" class="btn btn-secondary w-100 my-2" (click)="addLayer()">
                    Add Layer
                </button>
    
                <div *ngFor="let addedLayer of layers; index as i" class="container-fluid layer-pill mt-2">
                    <div class="row">
                        <div class="col-11">
                            {{addedLayer.model.data.readable_name}}
                        </div>
                        <div class="col-1">
                            <span (click)="removeLayer(i)" style="cursor: pointer;">&times;</span>
                        </div>
                    </div>
                </div>
    
                <hr>
    
                <select [disabled]="layers.length == 0" [(ngModel)]="typeSelector" class="form-select mb-2" aria-label="Select Analysis Type">
                    <option [value]="0" selected>Type</option>
                    <option [value]="POINT_TYPE">Point Analysis</option>
                    <option [value]="AREA_TYPE">Area Analysis</option>
                </select>
    
                <div *ngIf="typeSelector == POINT_TYPE">
                    <div class="row">
                        <div class="form-group col">
                            <label style="font-size: 10px;" for="latitude">Latitude</label>
                            <input [(ngModel)]="pointCoordinates[0]" id="latitude" type="number" class="form-control" placeholder="Latitude">
                        </div>
                        <div class="form-group col">
                            <label style="font-size: 10px;" for="longitude">Longitude</label>
                            <input [(ngModel)]="pointCoordinates[1]" id="longitude" type="number" class="form-control" placeholder="Longitude">
                        </div>
                    </div>
                    <button class="btn btn-secondary w-100 my-2" (click)="capturePoint()">
                        Capture Point
                    </button>
                </div>
    
                <button class="btn btn-success w-100 my-2" (click)="performAnalysis()">
                    Perform Analysis
                </button>
    
                <div class="analysis-area" *ngIf="doneAnalysis">
                    <div class="" *ngIf="showMonotemporal">
                        <div *ngFor="let dataPoint of singlePointMonotemporalAnalysis">
                            <h5>{{ dataPoint.readable_name + ": " + dataPoint.data.value + " " + dataPoint.data.units}} </h5>
                        </div>
                    </div>
    
                    <div class="depth-profile-graph" *ngIf="showDepthProfile">
                        <plotly-plot [data]="graphDepthProfile.data" [layout]="graphDepthProfile.layout" [config]="graphDepthProfile.config"></plotly-plot>
                    </div>
    
                    <div class="timeseries-profile-graph" *ngIf="showTimeseries">
                        <plotly-plot [data]="graphTimeSeries.data" [layout]="graphTimeSeries.layout" [config]="graphTimeSeries.config"></plotly-plot>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</ng-template>