/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
    overflow-x: hidden !important;
}

/* OpenLayers custom styles */
.ol-attribution{
    left: 5px!important;
    right: auto!important;
}

.ol-scale-line{
    bottom: 45px!important;
}