<div class="layer-group"  *ngIf="numberOfChildren > 0">
    <span class="layer-group-title list-group-item selectable" (click)="toggleExpanded()">
        {{node.name}} ({{numberOfChildren}})
        <fa-icon *ngIf="!expanded" class="icon selectable" [icon]="_faGreaterThan"></fa-icon>
        <fa-icon *ngIf="expanded" class="icon selectable" [icon]="_faChevronDown"></fa-icon>
    </span>

    <div [hidden]="!expanded">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let layer of layers">
                <div class="form-check form-switch">
                    <input [id]="layer.id" class="form-check-input" type="checkbox" [(ngModel)]="layerSelected[layer.id]!"
                        (change)="emitChangeSelected(layer)">
                    <label class="form-check-label" [for]="layer.id">
                        {{layer.readable_name}} 
                    </label>

                </div>
            </li>
        </ul>
    </div>
</div>